# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Distribution / build
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env variables (VERY important for your project later)
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter (just in case)
.ipynb_checkpoints/

# Typer / CLI artifacts (optional but clean)
*.bak